<div role="dialog" style="display: block;" class="modal show" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo lỗi</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <p>{{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>